.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 19rem;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}

.embla__button {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}

.embla__button {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.embla__button:disabled {
  opacity: 0.3;
}

.embla__dots__container {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.embla__dots__container:after {
  content: '';
  width: 27px;
  background-image: url("data:image/svg+xml,%3Csvg width='119' height='144' viewBox='0 0 119 144' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M118.7 143.4C115.1 140.5 110.6 137.9 107.6 134.2C102.6 128 98 121.4 94.2 114.5C83.5 95.1 76.3 74.3 69.5 53.2C59.7 22.8 32.3 1.1 0 0V143.4C39.6 143.4 79.2 143.4 118.7 143.4Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
}
.embla__dots__container:before {
  content: '';
  width: 27px;
  background-image: url("data:image/svg+xml,%3Csvg width='127' height='143' viewBox='0 0 127 143' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M123.4 0.299805C118.8 0.299805 114.1 0.599817 109.6 1.49982C81.4996 7.49982 62.9996 24.7998 52.6996 50.9998C45.8996 68.4998 40.5996 86.5998 33.2996 103.9C26.3996 120 18.0996 135.7 0.0996094 143.5C42.1996 143.5 84.2996 143.5 126.4 143.5V0.299805C125.4 0.299805 124.4 0.299805 123.4 0.299805Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
}

.embla__dot {
  @apply inline-flex items-center appearance-none touch-manipulation decoration-0 cursor-pointer;
  @apply w-0.5 h-0.5 desktop:w-1 desktop:h-1 bg-gray-500 rounded-xl;
}

.embla__dot:after {
  background: var(--background-site);
  border-radius: 0.2rem;
  width: 100%;
  height: 0.3rem;
  content: '';
}

.embla__dot--selected {
  @apply w-1 h-1 desktop:w-1.5 desktop:h-1.5 bg-primary border border-tint-50;
}
